/* ----- Header ----- */
#header {
  margin: 0;
  padding: 0;
  background: url("img/Header/Layer10.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.small-text{
  font-size:10px;
}

/* ----- SECTION 1 ----- */
.myButton {
  box-shadow: inset 0px 1px 0px 0px #bb85f2;
  background: linear-gradient(to left, #c123de 5%, #570dbd 100%);
  background-color: #c123de;
  border-radius: 39px;
  border: 1px solid #a511c0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 9px 38px;
  text-decoration: none;
  text-shadow: -1px 1px 0px #33083b;
}

.myButton:hover {
  background: linear-gradient(to left, #570dbd 5%, #c123de 100%);
  background-color: #570dbd;
}

.myButton:active {
  position: relative;
  top: 1px;
}

#bestdesign {
  background-image: url("img/Code/Layer7.jpeg");
  background-size: cover;
}

#bestcode {
  background-image: url("img/Code/Layer7.jpeg");
  background-size: cover;
}
